#cabecalhoTag {
    grid-area: cabecalhoTag;
    border: solid #fce6a8 4px;
    background-color: #d2e4e1
}

#doLadoTag {
background-color: #d2e4e1;
display: flex;
justify-content: center;
align-items: center;
grid-area: doLadoTag;
border: solid #fce6a8 4px;
gap: 3px;
}


#principalTag {
    background-color: #d2e4e1;
    grid-area: principalTag;
    border: solid #fce6a8 4px;
}

#rodapeTag {
    background-color: #d2e4e1;
    grid-area: rodapeTag;
    border: solid #fce6a8 4px;
}

#soma {
    

}

#resultado {
  

}




body {
    display: grid;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
        'doLadoTag cabecalhoTag'
        'principalTag principalTag'
        'rodapeTag rodapeTag'
    ;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    background-color: #e3e8ed;
    display: flex;
    margin: 5px;
    flex-grow: 1;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    min-width: 400px;
   

}

article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  
}

p {
    text-align: center;
}

a, button {
    display: inline-block;
    padding: 3px 3px;
    background-color: #788896;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    min-width: 70px;
    text-align: center;
}